# =========================================================
# WaffleDrive 增量依赖包 (专为 Isaac Sim 2022.2.1 + Python 3.7 打造)
# =========================================================

# 1. 核心强化学习算法库
skrl==1.1.0  

# 2. 监控与可视化
tensorboard>=2.11.0

# =========================================================
# ⚠️ 锁定 Isaac Sim & OIGE 的底层兼容性，解决所有 pip 冲突 ⚠️
# =========================================================
protobuf==3.20.2          # 严格对齐 omniisaacgymenvs 的要求
gym==0.23.1               # 严格对齐 rl-games 的要求
hydra-core==1.1.1         # 严格退回 OIGE 要求的版本
omegaconf==2.1.1          # 严格退回 OIGE 要求的版本
importlib-metadata>=6.6   

# 4. 其他基础工具
tqdm
pyyaml